// Additional media query variables
$x4l: "(max-width: 1699px)";
$x3l: "(max-width: 1599px)";
$xxl: "(max-width: 1499px)";
$xl: "(max-width: 1399px)";
$lg: "(max-width: 1199px)";
// Media query variables
$md: "(max-width: 991px)";
$xs: "(max-width: 575px)";
$xxsm: "(max-width: 374px)";
$xsm: "(max-width: 424px)";
@use 'sass:math';
// ============================ Mixins Css Start ============================
// px to rem conversion function (fix for 1 or 2 arguments)
@function rem($px, $base: 16px) {
  @if (math.unit($px) == "px") {
    @return math.div($px, $base) * 1rem;
  }
  @return math.div($px * 1px, $base) * 1rem;
}
// Media Breakpoint for Each Device Start
@mixin xxsm-screen {
  @media screen and (max-width: 374px) {
    @content;
  }
}

// Xtra Small
@mixin xsm-screen {
  @media screen and (max-width: 424px) {
    @content;
  }
}
// Medium Small Screen (max-width: 575)
@mixin msm-screen {
  @media screen and (max-width: 575px) {
    @content;
  }
}

//Small Screen (max-width: 767)
@mixin sm-screen {
  @media screen and (max-width: 767px) {
    @content;
  }
}

//Large Screen (max-width: 991)
@mixin md-screen {
  @media screen and (max-width: 991px) {
    @content;
  }
}

//Xtra Large Screen (max-width: 1199)
@mixin lg-screen {
  @media screen and (max-width: 1199px) {
    @content;
  }
}

//Xtra Large Screen i (max-width: 1399)
@mixin xl-screen {
  @media screen and (max-width: 1399px) {
    @content;
  }
}

//Xtra Large Screen ii (max-width: 1499)
@mixin xxl-screen {
  @media screen and (max-width: 1499px) {
    @content;
  }
}
//Xtra Large Screen ii (max-width: 1599)
@mixin xxxl-screen {
  @media screen and (max-width: 1599px) {
    @content;
  }
}
/* Media Breakpoint for Each Device End */

// ============================ Mixins Css End ============================
