/* Error: @use rules must be written before any other rules.
 *    ,
 * 17 | @use '../abstracts/mixins' as *;
 *    | ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   assets\css\partials\_counter-three.scss 17:1  @use
 *   assets\css\rtl.scss 93:1                      root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: @use rules must be written before any other rules.\a    \2577 \a 17 \2502  @use '../abstracts/mixins' as *;\a    \2502  ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   assets\\css\\partials\\_counter-three.scss 17:1  @use\a   assets\\css\\rtl.scss 93:1                      root stylesheet";
}
